<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改密码</title>
	<!--
    Template 2105 Input
	http://www.tooplate.com/view/2105-input
	-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/tooplate.css">
</head>

<body id="register">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <header class="mb-5">
                    <h3 class="mt-0 white-text">修 改 密 码</h3>
                    <p class="grey-text mb-4">为了您的安全请及时更换密码。</p>
                    <p class="grey-text">请记住并确保您的邮箱的正确性，如果忘记密码，可通过邮箱找回。 </p>

                </header>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <form action="{% url 'change' %}" method="post" class="tm-signup-form">
                    {% csrf_token %}
                    <div class="input-field">
                        <input placeholder="旧密码" id="old_pwd" name="old_pwd" type="password" class="validate">
						<span style="color: aliceblue"></span>
                    </div>
                    <div class="input-field">
                        <input placeholder="新密码密码" id="new_pwd" name="new_pwd" type="password" class="validate">
						<span style="color: aliceblue"></span>
                    </div>
					 <div class="input-field">
                        <input placeholder="新密码确认密码" id="repeat_pwd" name="repeat_pwd" type="password" class="validate">
						<span style="color: aliceblue"></span>
                    </div>
                    <div class="text-right mt-4">
                        <span style="color: aliceblue"> {{ message}}</span>

                        <button type="submit" class="waves-effect btn-large btn-large-white px-4 tm-border-radius-0">提 交</button>
                    </div>
                </form>
            </div>
        </div>
        <footer class="row tm-mt-big mb-3">
            <div class="col-xl-12">
                <p class="text-center grey-text text-lighten-2 tm-footer-text-small">
                    Copyright &copy; 2018 阿猫阿狗 
                    
<!--
                    - <a rel="nofollow" href="http://www.tooplate.com/view/2105-input">Input</a> by 
                    <a rel="nofollow" href="http://tooplate.com" class="tm-footer-link">aaa</a>
-->
                </p>
            </div>
        </footer>
    </div>

    <script src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/static/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
</body>

</html>