  <div style="position: relative;float: right" class="col-12 col-md-6 col-lg-5 col-xl-4">
                    <div class="sidebar-area bg-white mb-30 box-shadow">

                            <!-- Section Title -->
                            <div class="section-heading">
                                <h5>热门宠物</h5>
                            </div>

                            <!-- Single YouTube Channel -->
                            <div class="single-youtube-channel d-flex">
                                <div class="youtube-channel-thumbnail">
                                    <img src="http://img.boqiicdn.com/Data/BK/P/imagick89961541498200.jpg" alt="" >
                                </div>
                                <div class="youtube-channel-content">
                                    <a href="/dog/detail/30/" class="channel-title">萨摩耶</a>
                                    <a href="/dog/detail/30/" class="btn subscribe-btn">查看更多资料</a>
                                </div>
                            </div>

                            <!-- Single YouTube Channel -->
                            <div class="single-youtube-channel d-flex">
                                <div class="youtube-channel-thumbnail">
                                    <img src="http://img.boqiicdn.com/Data/BK/P/imagick52861547197983.jpg" alt="">
                                </div>
                                <div class="youtube-channel-content">
                                    <a href="/dog/detail/31/" class="channel-title">藏獒</a>
                                    <a href="/dog/detail/31/" class="btn subscribe-btn">查看更多资料</a>
                                </div>
                            </div>

                            <!-- Single YouTube Channel -->
                            <div class="single-youtube-channel d-flex">
                                <div class="youtube-channel-thumbnail">
                                    <img src="http://image.lelezone.com/uploads/201701/61/bd/61bd39d61ce153b1400723991b2bcceb.jpg" alt="">
                                </div>
                                <div class="youtube-channel-content">
                                    <a href="/cat/detail/6/" class="channel-title">英国短毛猫</a>
                                    <a href="/cat/detail/6/" class="btn subscribe-btn">查看更多资料</a>
                                </div>
                            </div>

                            <!-- Single YouTube Channel -->
                            <div class="single-youtube-channel d-flex">
                                <div class="youtube-channel-thumbnail">
                                    <img src="https://5b0988e595225.cdn.sohucs.com/images/20180703/94f065651fac480183f7cb5c2afadcba.jpeg" alt="">
                                </div>
                                <div class="youtube-channel-content">
                                    <a href="/cat/detail/9/" class="channel-title">美国短毛猫</a>
                                    <a href="/cat/detail/9/" class="btn subscribe-btn">查看更多资料</a>
                                </div>
                            </div>

                            <!-- Single YouTube Channel -->
                            <div class="single-youtube-channel d-flex">
                                <div class="youtube-channel-thumbnail">
                                    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1606827236753&di=c4514505271c77d1b92791616e1ac611&imgtype=0&src=http%3A%2F%2Fpic.ossfiles.cn%3A9186%2Fgroup2%2FM00%2F55%2F59%2FrBgICV2xD4eAatMqAAEXFSgsbX4555.jpg" alt="">
                                </div>
                                <div class="youtube-channel-content">
                                    <a href="/cat/detail/31/" class="channel-title">布偶猫</a>
                                    <a href="/cat/detail/31/" class="btn subscribe-btn">查看更多资料</a>
                                </div>
                            </div>

                        </div>