<!DOCTYPE html>
<html lang="en">
<!-- CSS only -->

<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>首页</title>

    <!-- Favicon -->
    <link rel="icon" href="/static/images/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

   {% include 'pathtml/navbar.html' %}
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <div class="hero-area owl-carousel">
        <!-- Single Blog Post -->
        <div class="hero-blog-post bg-img bg-overlay" style="background-image: url(/static/images/bg-img/1.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Contetnt -->
                        <div class="post-content text-center">
                            <div class="post-meta" data-animation="fadeInUp" data-delay="100ms">
                                <a href="/">阿猫阿狗</a>
                                <a href="#">更多</a>
                            </div>
                            <a href="/login" class="post-title" data-animation="fadeInUp" data-delay="300ms">分享你的宠物生活</a>
                            <a href="/login" class="video-play" data-animation="bounceIn" data-delay="500ms"><i class="fa fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Blog Post -->
        <div class="hero-blog-post bg-img bg-overlay" style="background-image: url(/static/images/bg-img/2.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Contetnt -->
                        <div class="post-content text-center">
                            <div class="post-meta" data-animation="fadeInUp" data-delay="100ms">
                                <a href="/">阿猫阿狗</a>
                                <a href="#">更多</a>
                            </div>
                            <a href="/login" class="post-title" data-animation="fadeInUp" data-delay="300ms">分享你的宠物生活</a>
                            <a href="/login" class="video-play" data-animation="bounceIn" data-delay="500ms"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Blog Post -->
        <div class="hero-blog-post bg-img bg-overlay" style="background-image: url(/static/images/bg-img/3.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Contetnt -->
                        <div class="post-content text-center">
                            <div class="post-meta" data-animation="fadeInUp" data-delay="100ms">
                                <a href="/">阿猫阿狗</a>
                                <a href="#">更多</a>
                            </div>
                            <a href="/login" class="post-title" data-animation="fadeInUp" data-delay="300ms">分享你的宠物生活</a>
                            <a href="/login" class="video-play" data-animation="bounceIn" data-delay="500ms"><i class="fa fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Mag Posts Area Start ##### -->
    <section class="mag-posts-area d-flex flex-wrap">

        <!-- >>>>>>>>>>>>>>>>>>>>
         Post Left Sidebar Area
        <<<<<<<<<<<<<<<<<<<<< -->
        <div class="post-sidebar-area left-sidebar mt-30 mb-30 bg-white box-shadow">
            <!-- Sidebar Widget -->
            <div class="single-sidebar-widget p-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>热门资讯</h5>
                </div>

                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex">
                    <div class="post-thumbnail">
                        <img src="/static/images/bg-img/4.jpg" alt="">
                    </div>
                    <div class="post-content">
                        <a href="#" class="post-title">快速发展 全面升级 成都宠博会重磅来袭</a>                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex">
                    <div class="post-thumbnail">
                        <img src="/static/images/bg-img/5.jpg" alt="">
                    </div>
                    <div class="post-content">
                        <a href="#" class="post-title">美的双十二进军非家电类目：萌宠“起居系列”来袭</a>                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex">
                    <div class="post-thumbnail">
                        <img src="/static/images/bg-img/6.jpg" alt="">
                    </div>
                    <div class="post-content">
                        <a href="#" class="post-title">国任保险推出3个月免费宠物医疗保险，从此养宠无忧</a>                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex">
                    <div class="post-thumbnail">
                        <img src="/static/images/bg-img/7.jpg" alt="">
                    </div>
                    <div class="post-content">
                        <a href="#" class="post-title">CBNData联合红嘴猫发布《猫咪饮食健康趋势洞察报告》</a>                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex">
                    <div class="post-thumbnail">
                        <img src="/static/images/bg-img/8.jpg" alt="">
                    </div>
                    <div class="post-content">
                        <a href="#" class="post-title">西班牙凯塔斯辅治功效口服液全国云端直播上市会圆满举办!</a>                    </div>
                </div>
            </div>

            <!-- Sidebar Widget -->
            <div class="single-sidebar-widget">
                <a href="#" class="add-img"><img src="/static/images/bg-img/add.png" alt=""></a>
            </div>

            <!-- Sidebar Widget -->        </div>

        <!-- >>>>>>>>>>>>>>>>>>>>
             Main Posts Area
        <<<<<<<<<<<<<<<<<<<<< -->
        <div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
            <!-- Trending Now Posts Area -->
            <div class="trending-now-posts mb-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>热 门 猫 狗</h5>
                </div>

                <div class="trending-post-slides owl-carousel">
                    <!-- Single Trending Post -->
                    <div class="single-trending-post">
                        <img src="/static/images/bg-img/19.jpg" alt="">
                        <div class="post-content">
                            
                            <a href="/cat/detail/6/" class="post-title">蓝猫——英国短毛猫</a>
                        </div>
                    </div>

                    <!-- Single Trending Post -->
                    <div class="single-trending-post">
                        <img src="/static/images/bg-img/20.jpg" alt="">
                        <div class="post-content">
                            
                            <a href="#" class="post-title">挖煤工人——暹罗猫</a>
                        </div>
                    </div>

                    <!-- Single Trending Post -->
                    <div class="single-trending-post">
                        <img src="/static/images/bg-img/21.jpg" alt="">
                        <div class="post-content">
                            
                            <a href="#" class="post-title">The Health Benefits Of Sunglasses</a>
                        </div>
                    </div>

                    <!-- Single Trending Post -->
                    <div class="single-trending-post">
                        <img src="/static/images/bg-img/19.jpg" alt="">
                        <div class="post-content">
                            
                            <a href="#" class="post-title">哈士奇——西伯利亚雪橇犬</a>
                        </div>
                    </div>

                    <!-- Single Trending Post -->
                    <div class="single-trending-post">
                        <img src="/static/images/bg-img/20.jpg" alt="">
                        <div class="post-content">
                            
                            <a href="#" class="post-title">微笑天使、傻白甜——萨摩耶</a>
                        </div>
                    </div>

                    <!-- Single Trending Post -->
                    <div class="single-trending-post">
                        <img src="/static/images/bg-img/21.jpg" alt="">
                        <div class="post-content"> <a href="#" class="post-title">暖男——金毛</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Feature Video Posts Area -->
            <div class="feature-video-posts mb-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>热门文章</h5>
                </div>

                <div class="featured-video-posts">
                    <div class="row">
                        <div class="col-12 col-lg-7">
                            <!-- Single Featured Post -->
                          <div class="single-featured-post">
                                <!-- Thumbnail -->
                                <div class="post-thumbnail mb-50">
                                    <img src="/static/images/bg-img/22.jpg" alt="">
                                    <a href="#" class="video-play"><i class="fa fa-play"></i></a>
                                </div>
                                <!-- Post Contetnt -->
                            <div class="post-content">
                                    <div class="post-meta">
                                        <a href="#">MAY 8, 2018</a>
                                        <a href="#">lifestyle</a>
                                    </div>
                                    <a href="#" class="post-title">有情猫终成眷属 主人的隔空纸条把"缘分"变成了"缘份"</a>
                                    <p>有一种缘分叫一见钟情，那天我透过窗户看见对面楼里你那美妙的身姿，顿时我感觉整个天空都是粉红色的，我想和你谈一场甜甜的恋爱，心中的想法随即想到很久以后，我连我们生的小猫崽的名字都想好了。可是我是只猫，不会说话，我只能隔着玻璃冲着你喵喵叫。隔着这段距离对于我来说好似那银河那么长，我只能这样静静的欣赏你的美丽。</p>
                              </div>
                              <!-- Post Share Area -->
                            </div>
                        </div>

                        <div class="col-12 col-lg-5">
                            <!-- Featured Video Posts Slide -->
                            <div class="featured-video-posts-slide owl-carousel">

                                <div class="single--slide">
                                    <!-- Single Blog Post -->
                                    <div class="single-blog-post d-flex style-3">
                                        <div class="post-thumbnail">
                                            <img src="/static/images/bg-img/23.jpg" alt="">
                                        </div>
                                        <div class="post-content">
                                            <a href="#" class="post-title">【干货】新手选猫攻略：热门猫咪品种（上）</a>
                                            
                                        </div>
                                    </div>

                                    <!-- Single Blog Post -->
                                    <div class="single-blog-post d-flex style-3">
                                        <div class="post-thumbnail">
                                            <img src="/static/images/bg-img/24.jpg" alt="">
                                        </div>
                                        <div class="post-content">
                                            <a href="#" class="post-title">我是你的宠物，你却是我生命的全部</a>
                                          
                                        </div>
                                    </div>

                                    <!-- Single Blog Post -->
                                    <div class="single-blog-post d-flex style-3">
                                        <div class="post-thumbnail">
                                            <img src="/static/images/bg-img/25.jpg" alt="">
                                        </div>
                                        <div class="post-content">
                                            <a href="#" class="post-title">两条狗</a>
                                           
                                        </div>
                                    </div>

                                    <!-- Single Blog Post -->
                                    <div class="single-blog-post d-flex style-3">
                                        <div class="post-thumbnail">
                                            <img src="/static/images/bg-img/26.jpg" alt="">
                                        </div>
                                        <div class="post-content">
                                            <a href="#" class="post-title">一只狗的遗嘱</a>
                                           
                                        </div>
                                    </div>

                                    <!-- Single Blog Post -->
                                    <div class="single-blog-post d-flex style-3">
                                        <div class="post-thumbnail">
                                            <img src="/static/images/bg-img/27.jpg" alt="">
                                        </div>
                                        <div class="post-content">
                                            <a href="#" class="post-title">猫啊，猫</a>
                                           
                                        </div>
                                    </div>
                                </div>

                                <div class="single--slide">
                                    <!-- Single Blog Post -->
                                    <div class="single-blog-post d-flex style-3">
                                        <div class="post-thumbnail">
                                            <img src="/static/images/bg-img/23.jpg" alt="">
                                        </div>
                                        <div class="post-content">
                                            <a href="#" class="post-title">【干货】新手选猫攻略：热门猫咪品种（上）</a>
                                          
                                        </div>
                                    </div>

                                    <!-- Single Blog Post -->
                                    <div class="single-blog-post d-flex style-3">
                                        <div class="post-thumbnail">
                                            <img src="/static/images/bg-img/24.jpg" alt="">
                                        </div>
                                        <div class="post-content">
                                            <a href="#" class="post-title">我是你的宠物，你却是我生命的全部</a>
                                            
                                        </div>
                                    </div>

                                    <!-- Single Blog Post -->
                                    <div class="single-blog-post d-flex style-3">
                                        <div class="post-thumbnail">
                                            <img src="/static/images/bg-img/25.jpg" alt="">
                                        </div>
                                        <div class="post-content">
                                            <a href="#" class="post-title">两条狗</a>
                                            
                                        </div>
                                    </div>

                                    <!-- Single Blog Post -->
                                    <div class="single-blog-post d-flex style-3">
                                        <div class="post-thumbnail">
                                            <img src="/static/images/bg-img/26.jpg" alt="">
                                        </div>
                                        <div class="post-content">
                                            <a href="#" class="post-title">一只狗的遗嘱</a>
                                          
                                        </div>
                                    </div>

                                    <!-- Single Blog Post -->
                                    <div class="single-blog-post d-flex style-3">
                                        <div class="post-thumbnail">
                                            <img src="/static/images/bg-img/27.jpg" alt="">
                                        </div>
                                        <div class="post-content">
                                            <a href="#" class="post-title">猫啊，猫</a>
                                            
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Most Viewed Videos -->
            <div class="most-viewed-videos mb-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>热门视频</h5>
                </div>

                <div class="most-viewed-videos-slide owl-carousel">

                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-4">
                        <div class="post-thumbnail">
                            <img src="/static/images/bg-img/28.jpg" alt="">
                            <a href="#" class="video-play"><i class="fa fa-play"></i></a>
                            <span class="video-duration">09:27</span>
                        </div>
                        <div class="post-content">
                            <a href="#" class="post-title">猫 生 百 态！</a>
                            
                        </div>
                    </div>

                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-4">
                        <div class="post-thumbnail">
                            <img src="/static/images/bg-img/29.jpg" alt="">
                            <a href="#" class="video-play"><i class="fa fa-play"></i></a>
                            <span class="video-duration">09:27</span>
                        </div>
                        <div class="post-content">
                            <a href="#" class="post-title">猫 生 百 态！</a>
                            
                        </div>
                    </div>

                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-4">
                        <div class="post-thumbnail">
                            <img src="/static/images/bg-img/30.jpg" alt="">
                            <a href="#" class="video-play"><i class="fa fa-play"></i></a>
                            <span class="video-duration">00:43</span>
                        </div>
                        <div class="post-content">
                            <a href="#" class="post-title">猫 生 百 态！</a>
                            
                        </div>
                    </div>

                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-4">
                        <div class="post-thumbnail">
                            <img src="/static/images/bg-img/28.jpg" alt="">
                            <a href="#" class="video-play"><i class="fa fa-play"></i></a>
                            <span class="video-duration">09:27</span>
                        </div>
                        <div class="post-content">
                            <a href="#" class="post-title">猫 生 百 态！</a>
                            
                        </div>
                    </div>

                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-4">
                        <div class="post-thumbnail">
                            <img src="/static/images/bg-img/29.jpg" alt="">
                            <a href="#" class="video-play"><i class="fa fa-play"></i></a>
                            <span class="video-duration">09:27</span>
                        </div>
                        <div class="post-content">
                            <a href="#" class="post-title">猫 生 百 态！</a>
                            
                        </div>
                    </div>

                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-4">
                        <div class="post-thumbnail">
                            <img src="/static/images/bg-img/30.jpg" alt="">
                            <a href="#" class="video-play"><i class="fa fa-play"></i></a>
                            <span class="video-duration">09:27</span>
                        </div>
                        <div class="post-content">
                            <a href="#" class="post-title">猫 生 百 态！</a>
                           
                        </div>
                    </div>

                </div>
            </div>

            <!-- Sports Videos -->        </div>

        <!-- >>>>>>>>>>>>>>>>>>>>
         Post Right Sidebar Area
        <<<<<<<<<<<<<<<<<<<<< -->
        <div class="post-sidebar-area right-sidebar mt-30 mb-30 box-shadow">
            <!-- Sidebar Widget -->
          <div class="single-sidebar-widget p-30">
			              <div class="section-heading">
                    <h5>联系我们</h5>
                </div>
                <!-- Social Followers Info -->
                <div class="social-followers-info">
                    <h3>前端</h3>
                    <!-- Facebook -->
					<a href="#" class="google-followers"><span>QQ：1326378157</span></a>
                  <a href="#" class="facebook-fans"><span>电话：18606962788</span></a>
                    <!-- Twitter -->
                    <a href="#" class="twitter-followers"><span>微信：zxk121900</span></a>
                    <!-- YouTube -->
                    <a href="#" class="youtube-subscribers"><span>zxk121900@163.com</span></a>
                </div>
              <br>
              <br>
                <div class="social-followers-info">
                    <!-- Facebook -->
                     <h3>后端</h3>
					<a href="#" class="google-followers"><span>QQ：1326869514</span></a>
                  <a href="#" class="facebook-fans"><span>电话：15359535625</span></a>
                    <!-- Twitter -->
                    <a href="#" class="twitter-followers"><span>微信：wjwzmx</span></a>
                    <!-- YouTube -->
                    <a href="#" class="youtube-subscribers"><span>1326869514@qq.com</span></a>
                </div>
            </div>

            <!-- Sidebar Widget -->
            
            <!-- Sidebar Widget -->
            <div class="single-sidebar-widget">
                <a href="#" class="add-img"></a>
          </div>

            <!-- Sidebar Widget -->
            
            <!-- Sidebar Widget -->
            <div class="single-sidebar-widget p-30">
                <!-- Section Title -->
          </div>
        </div>
    </section>
    <!-- ##### Mag Posts Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">

        <!-- Copywrite Area -->
        <div class="copywrite-area"> 
            <div class="container">
                <div class="row">
                    <!-- Copywrite Text -->
                    <div class="col-12 col-sm-6">
                        <p class="copywrite-text"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
本网站只可用作学习和参考，不可作为商业用途，如有侵权，请联系删除  <em class="fa fa-heart-o" aria-hidden="true"></em> by19信管<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                    <div class="col-12 col-sm-6" style="float: right">
                        <nav class="footer-nav">
                            <ul>
                                <li><a href="#">联系我们</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
            </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/static/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/static/js/active.js"></script>
</body>

</html>
